{% set meta = { title: "Справочник" } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" }, 
        { title: "Справочник" }
    ]
} %}
{% set title = { text: "Все статьи", tag: "h1", class: "title" } %}
{% extends "layouts/grid.njk" %}
{% block sidebar %}
    manual sidebar content
{% endblock %}
{% block content %}
    {# {% include "blocks/common/contacts/contacts.njk" %} #}
{% endblock %}
{% block after_content %}
    {% include "blocks/common/feedback/feedback.njk" %}
{% endblock %}